:root{
  --nav: #2C3E50;
    --hero: #1ABC9C;
    --main: #FFFFFF;
    --footer: #3A546D;
    --window-one: #BA4B63;
    --window-two: #1EA4B6;
    --window-three: #140F0F;
    --window-four: #1C83C1;
    --window-five: #0E38B5;
    --window-six: #CCB2A3;
}

header, #bot-footer{
  background-color: var(--nav);
}

#hero, #about{
  background-color: var(--hero);
}

#portfolio, #contact{
  background-color: var(--main);
  color: var(--window-three);
}

#top-footer{
  background-color: var(--footer);
}

body{
  color: var(--main);
}

img{
  width: 100%;
}

#hero img{
  max-width: 250px;
}

.star i{
  display: block;
width: 20%;
font-size: 2rem;
}

.star:before, .star:after{
content: '';
display: block;
width: 40%;
height: 4px;
border-radius: 2px;
background-color: white;
}

.star-dark::before, .star-dark::after{
  background-color: black;
}

#top-footer .container span{
  color: var(--hero);
}

.img-container{
  position: relative;
  cursor: pointer;
}

.img-container:after{
  content: '+';
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  color: white;
  background-color: rgba(26, 188, 156, 0.7);
  opacity: 0;
  transition: opacity 0.5s;
}

.img-container:hover:after{
  opacity: 1;
}

